h1 {
    color: green;
}
.buchi {
    border: 10px solid green;
    width: 40%;
    padding: 20px;
    text-align: justify;
    color: rgb(12, 11, 11);
    background-color: blueviolet;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTaYVG_iCjqtC3bXEKrVyw1a1VUNpkA7fViw&s') ;
    background-size: cover;
    background-repeat: no-repeat;
}

table,
th,
td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
table th {
    background-color: lightcyan;
}