.navi {

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navi a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 20px;
    background-color: blue;
    color: white;
    transition: .3s;
    border: 2px solid;
}
.navi a:hover {
    background-color:white;
    color: blue;
}

.hero{
    border: 2px solid white;
    height: 90vh;
    background-image: url(https://www.w3schools.com/w3images/architect.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 247);
    font-size: 50px;
}
.project {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}
.about {
}
.about .about_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1em;
}
.about_container .card {
}
.card img {
    width: 100%;
}
/*
form{
    width: 300px;
    height: 300px;
}
form input {
    width: 95vw;
    margin-bottom: 20px;
}
.nave {
    width: 80%;
    background-color: black;
    color: white;
}
.nave input:hover {
    background-color: white;
    color: black;
}
.back {

    background-image: url(https://www.w3schools.com/w3images/map.jpg);
}*/